.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin-left: auto;
  margin-right: auto;

  background-color: #f2f2f2;
  height: 509px;
  max-width: 1062px;
}

.slick-img {
  width: 100%;
  max-width: 1069px;

  object-fit: cover;
  object-position: 0 0;
}
