.photodiary-section {
  padding-top: 98px;
  padding-bottom: 124px;
}

.photodiary-title {
  font-size: 14px;
  font-weight: 300;

  text-transform: uppercase;

  color: #b4ad9e;

  margin-bottom: 25px;
}
.photodiary-subtitle {
  font-weight: 400;
  font-size: 30px;

  color: #626262;

  margin-bottom: 40px;
}
.photodiary-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: #626262;

  margin-bottom: 52px;
}

.photodiary-comment {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;

  text-transform: uppercase;

  color: #b4ad9e;
}
