.posts-section {
  padding-bottom: 105px;
}

.second-list-posts-section {
  padding-top: 100px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  --item: 2;
}
.posts-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}

.post-list-category {
  margin: 28px 0;

  color: #b4ad9e;

  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;

  text-transform: uppercase;
}
.post-list-title {
  color: #626262;

  font-size: 30px;
  font-weight: 400;

  margin-bottom: 38px;
}
.post-list-text {
  color: #626262;

  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.load-more-btn {
  display: block;

  margin-top: 155px;
  margin-right: auto;
  margin-left: auto;

  font-size: 20px;
  font-weight: 400;

  background-color: transparent;
  color: #626262;

  border: 1px solid #626262;

  padding: 20px 30px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #626262;
    color: white;
  }
}
